<br>
<div class="jumbotron text-center pt-3 pb-3" >
    <img class="logo" src="assets/img/fav.png" alt="">
    <h3>Trienti</h3>
    
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>
</div>



<div class="row ">
    <div class="col-md-6"> 
        <div class="jumbotron">
            <h5 class="text-center">Servicios</h5>
            <br>
            <div class="accordion" id="accordionTarjetas">
               
                <!--  -->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0" style="display: flex; justify-content: space-between;">
                            <button class="btn btn-link" onclick="this.blur();" type="button" data-toggle="collapse" data-target="#collapseVISA" aria-expanded="true" aria-controls="collapseVISA">
                                Registrar Nueva Atención
                            </button>
                            
                            <button class="btn btn-success">Acceder</button>
                        </h5>
                    </div>

                    <div id="collapseVISA" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionTarjetas">
                        <div class="card-body">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga id sed nemo nesciunt quas quo ducimus at eum? Quidem harum eveniet rerum dolores velit nam possimus soluta dolor sit tempora?
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0" style="display: flex; justify-content: space-between;">
                            <button class="btn btn-link" onclick="this.blur();" type="button" data-toggle="collapse" data-target="#collapseMASTER" aria-expanded="true" aria-controls="collapseMASTER">
                                Consultar Servicios
                            </button>
                            
                            <button class="btn btn-success">Acceder</button>
                        </h5>
                    </div>

                    <div id="collapseMASTER" class="collapse fade" aria-labelledby="headingThree" data-parent="#accordionTarjetas">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, delectus facere. Aspernatur, libero aut molestiae debitis incidunt nihil dolorum dolore! Eum fuga corrupti id quidem animi accusamus accusantium odio consequuntur!
                        </div>
                    </div>
                </div>



                
            </div>




        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h5 class="text-center">Reclamos</h5>
            <br>
            <div class="accordion" id="accordionTarjetas">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0" style="display: flex; justify-content: space-between;">
                            <button class="btn btn-link" onclick="this.blur();" type="button" data-toggle="collapse" data-target="#collapseBasica" aria-expanded="true" aria-controls="collapseBasica">
                                Registrar Nuevo Reclamo
                            </button>
                            <button class="btn btn-success">Acceder</button>
                        </h5>
                    </div>

                    <div id="collapseBasica" class="collapse fade show" aria-labelledby="headingOne" data-parent="#accordionTarjetas">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum atque nulla provident rem facilis modi inventore fuga, molestias, omnis voluptatibus soluta impedit non. Nesciunt molestiae deserunt voluptatibus quis officia ullam!
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0" style="display: flex; justify-content: space-between;">
                            <button class="btn btn-link" onclick="this.blur();" type="button" data-toggle="collapse" data-target="#collapseVISA" aria-expanded="true" aria-controls="collapseVISA">
                                Consultar Reclamos
                            </button>
                            
                            <button class="btn btn-success">Acceder</button>
                        </h5>
                    </div>

                    <div id="collapseVISA" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionTarjetas">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ab, aliquid quia consequatur non, temporibus minus praesentium quisquam commodi maiores, animi tempora provident inventore ducimus illum! Earum rerum hic quas!
                        </div>
                    </div>
                </div>
                <!--  -->
                
            </div>
        </div>
    </div>

</div>
