<br><br> <br>

<div class="row" >
   

    <div class="col-md-6">

        <div class="jumbotron formulario">
            <h3 class="page-header">Iniciar Sesión</h3>
            <br><br><br><br>
                
            <div class="form">
                <form (submit)="onLoginSubmit()" name="formLogin" [formGroup]="formLogin">
                    <div class="form-group">
                        <label>Nombre de Usuario</label>
                        <input type="text" class="form-control" [(ngModel)]="username" name="username" formControlName="username"
                        [ngClass]="{'is-invalid':formLogin.get('username').touched && formLogin.get('username').invalid}">
                        <div class="invalid-feedback">
                           <div class="mensaje-error m-0">El nombre de usuario es requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="text" class="form-control" [(ngModel)]="password" name="password" formControlName="password"
                        [ngClass]="{'is-invalid':formLogin.get('password').touched && formLogin.get('password').invalid}">
                        <div class="invalid-feedback">
                           <div class="mensaje-error m-0">La contraseña es requerida</div>
                        </div>
                    </div>
                    <br>
                    <div class="no-gutters">
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" [disabled]="!formLogin.valid" >Iniciar Sesión</button>
                            </div>
                            <div class="col-12 mt-2 invalid-feedback" style="display: none;" id="mensajeNoEncontrado" >
                                <label>El usuario ya esta registrado</label>
                            </div>
                        </div>                    
                    </div>
                </form>
            </div>
        </div>
        
    </div>


    <div class="col-md-6">
        <div class="jumbotron text-center portada" >
            <div style="border: 2px rgb(255, 255, 255) solid;">
                <br><br>
                <img class="logo" src="assets/img/fav.png" alt="">
                <h1>Trienti</h1>
                <p class="lead">Bienvenidos al sistema de registro.</p>
                <br><br><br><br>
                <div>
                    <p>¿No te has registrado?</p>
                    <a class="btn btn-primary ml-1" [routerLink]="['/registro']" > Registrate</a>
                </div>
                <br>
            </div>
        </div>

    </div>
    
</div>

