
<br>
<div class="jumbotron text-center pt-3 pb-3" >
    <img class="logo" src="assets/img/fav.png" alt="">
    <!-- <h3>Trienti</h3> -->
    <p></p>
    
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a> Consultar Reclamos</a></li>
    </ol>
</nav>
</div>

<div class="jumbotron">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li><h3 class="text-center breadcrumb-item active">Lista de Reclamos</h3></li>
        </ol>
    </nav>


    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li><h5 class="text-center breadcrumb-item active">Reclamos No Atendidos</h5></li>
        </ol>
      </nav>

      <table class="table table-light">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nombre del Servicio</th>
            <th scope="col">Detalle </th>
            <th scope="col">Prioridad</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col"> OP </th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>722886596</td>
                <td>Diego</td>
                <td>Plan Internet 2</td>
                <td>No me instalaron el servicio</td>
                <td>Alta</td>
                <td>26/09/2020</td>
                <td>No atendido</td>
                <td> <button  class="btn btn-success">Atender</button> </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>722886596</td>
                <td>Diego</td>
                <td>Plan Cable 2</td>
                <td>No me instalaron el servicio</td>
                <td>Alta</td>
                <td>26/09/2020</td>
                <td>No atendido</td>
                <td> <button  class="btn btn-success">Atender</button> </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>7228865967</td>
                <td>Luigi</td>
                <td>Plan Internet</td>
                <td>No me funciona</td>
                <td>Alta</td>
                <td>26/09/2020</td>
                <td>No atendido</td>
                <td> <button  class="btn btn-success">Atender</button> </td>
              </tr>
        </tbody>
      </table>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li><h5 class="text-center breadcrumb-item active">Reclamos Atendidos</h5></li>
        </ol>
    </nav>
    <table class="table table-light">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre del Servicio</th>
            <th scope="col">Detalle </th>
            <th scope="col">Prioridad</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>722886596</td>
                <td>Diego</td>
                <td>Zegarra</td>
                <td>Plan Internet</td>
                <td>No me instalaron el servicio</td>
                <td>Alta</td>
                <td>26/09/2020</td>
                <td>Atendido</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>722886596</td>
                <td>Diego</td>
                <td>Zegarra</td>
                <td>Plan Cable</td>
                <td>No me instalaron el servicio</td>
                <td>Baja</td>
                <td>26/09/2020</td>
                <td>Atendido</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>7228865967</td>
                <td>Luigi</td>
                <td>Romo</td>
                <td>Plan Internet</td>
                <td>No me instalaron el servicio</td>
                <td>Baja</td>
                <td>26/09/2020</td>
                <td>Atendido</td>
              </tr>
        </tbody>
      </table>
      
</div>